@charset "utf-8";

@font-face {
  src: url(../fonts/PoorStory-Regular.ttf);
  font-family: "regular";
}

@font-face {
  src: url(../fonts/Sunflower-Medium.ttf);
  font-family: "Sunflower";
}
@font-face {
  src: url(../fonts/BMHANNAPro.ttf);
  font-family: "BMhanna";
}
