<div id="menu_side" class="">
    <div class="side-bg"></div>
    <div class="side-block">
        <div class="user_info">
            <%= user ? true : false %> 
            <!-- 유저가 존재하면 유저의 정보를 표시, 아닐경우　일반표시  -->
        </div>
        <a class="cont loguser" href="/<%= user ? `logout?url=${url}` : `login?url=${url}` %>" 
            onclick=<%= user ? `alert('로그아웃되었습니다.')` : "" %>><%= user? 'logout' : 'login' %></a>
        <a class="cont">menu2</a>
        <a class="cont">menu3</a>
        <a class="cont">menu4</a>
        <a class="cont">menu5</a>
        <a class="cont">menu6</a>
    </div>
</div>