@charset "UTF-8";
* {font-family: "BMhanna";}
body {overflow: hidden; cursor: none;}
a {cursor: none; color: auto;}
a:hover {color: inherit;}
/* 상단 메뉴작업 */
#menu {
  position: absolute; top: 0; left: 0; width: 100vw;
  border-bottom: 1px solid #575757; box-sizing: border-box;
  padding: 0 4%; user-select: none;
}
#menu h2 {
  font-size: 35px; padding: 35px 0;
  text-shadow: 3px 3px 0 #575757; display: inline-block;
}
#menu h2 a {color: #fff; transition: color .2s; z-index: 10;}
#menu h2 a:hover {color: #242839;}
#menu h2 a:hover em {color: #242839;}
#menu h2 em {color: #d5d286; transition: color .2s;}
#menu .mIcon {
  padding: 22px 22px;
  position: absolute; top: 50%; right: 4%;
  transform: translate(0, -50%); z-index: 10;
}
#menu .mIcon .bar {
  width: 40px; height: 5px; background-color: #fff;
  border-radius: 10px; opacity: 1; position: absolute;
  transition: transform .3s ease, opacity .3s, background-color .3s; right: 4%;
}
#menu .mIcon:hover .bar {background-color: #1c1c1c;}
#menu .mIcon .bar:nth-child(1) {transform: rotate(0deg) translateY(13px);}
#menu .mIcon .bar:nth-child(2) {transform: rotate(0deg);}
#menu .mIcon .bar:nth-child(3) {transform: rotate(0deg) translateY(-13px);}
#menu .mIcon.active .bar:nth-child(1) {transform: rotate(45deg);}
#menu .mIcon.active .bar:nth-child(2) {opacity: 0;}
#menu .mIcon.active .bar:nth-child(3) {transform: rotate(-45deg);}
#menu .side {
  display: block; position: absolute; top: 0; right: -50vw;
  height: 100vh; width: 50vw; background-color: #1c1c1c;
  transition: right .5s ease-in-out; user-select: none;
}
#menu .side.active {right: 0;}
#menu .side .exit {
  position: absolute; top: 40px; right: 8%; font-size: 35px;
}
#menu .side ul {
  position: absolute; top: 50%; left: 50px;
  transform: translate(0, -50%); font-size: 35px;
  z-index: 10;
}
#menu .side ul li {margin-bottom: 15px;}
#menu .side ul li a {transition: color .3s; color: #fff;}
#menu .side ul li.current a, #menu .side ul li.current:hover a {color: #e3d38f;}
#menu .side ul li:hover a {color: #1c1c1c;}

/* 마우스 커서 디자인 */
#cursor {
  width: 20px; height: 20px; background-color: #af6f6f;
  position: absolute; top: 0; left: 0; border-radius: 50%;
  pointer-events: none; user-select: none;
  transform: scale(1); opacity: 1;
  transition: transform .2s, opacity .2s;
}
#cursor.active {
  transform: scale(4); opacity: 1;
}


/* 반응형 디자인 */
