@charset "UTF-8";
* {font-family: "BMhanna";}
body {overflow: hidden; cursor: none;}
/* 상단 메뉴작업 */
#menu {
  position: absolute; top: 0; left: 0; width: 100vw;
  border-bottom: 1px solid #575757; box-sizing: border-box;
  padding: 0 4%;
}
#menu h2 {
  font-size: 35px; color: #fff; padding: 35px 0;
  text-shadow: 3px 3px 0 #575757; display: inline-block;
}
#menu h2 em {color: #d5d286;}
#menu .mIcon {
  z-index: 10; padding: 22px 22px;
  position: absolute; top: 50%; right: 4%;
  transform: translate(0, -50%);
}
#menu .mIcon .bar {
  width: 40px; height: 5px; background-color: #fff;
  border-radius: 10px; opacity: 1; position: absolute;
  transition: transform .3s ease, opacity .3s; right: 4%;
}
#menu .mIcon .bar:nth-child(1) {transform: rotate(0deg) translateY(13px);}
#menu .mIcon .bar:nth-child(2) {transform: rotate(0deg);}
#menu .mIcon .bar:nth-child(3) {transform: rotate(0deg) translateY(-13px);}
#menu .mIcon.active .bar:nth-child(1) {transform: rotate(45deg);}
#menu .mIcon.active .bar:nth-child(2) {opacity: 0;}
#menu .mIcon.active .bar:nth-child(3) {transform: rotate(-45deg);}
#menu .side {
  display: block; position: absolute; top: 0; right: -50vw;
  height: 100vh; width: 50vw; background-color: #1c1c1c; color: #fff;
  transition: right .5s ease-in-out;
}
#menu .side.active {right: 0;}
#menu .side .exit {
  position: absolute; top: 40px; right: 8%; font-size: 35px;
}
#menu .side ul {
  position: absolute; top: 50%; left: 50px;
  transform: translate(0, -50%); font-size: 35px;
}
#menu .side ul li {margin-bottom: 15px; z-index: 10;}

/* 메인 작업 */
#main {
  width: 100vw; height: 100vh; background-color: #242839; overflow: hidden;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
}
#main h2 {
  font-size: 4vw; font-weight: 400; color: #fff;
  text-shadow: .4vw .4vw 0 #575757;
}
#main p {
  font-size: 1vw; font-weight: 400; color: #fff;
  text-shadow: .1vw .1vw 0 #000000;
}

/* 마우스 커서 디자인 */
#cursor {
  width: 20px; height: 20px; background-color: #af6f6f;
  position: absolute; top: 0; left: 0; border-radius: 50%;
  pointer-events: none; user-select: none; z-index: 10;
  transform: scale(1); opacity: 1;
  transition: transform .2s, opacity .2s;
}
#cursor.active {
  transform: scale(4); opacity: 1; z-index: 8;
}







/* 반응형 디자인 */
