<div id="contents">
    <div id="cont_title">
      <h2>GMS - 게임센터</h2>
      <span>친구들과 함께 다양한 게임을 즐겨보세요!</span>
    </div>
    <div id="cont_box">
      <a class="box" href="/game/minesweeper"
      style="background: url('/img/game/minesweeper/main.png') no-repeat; background-size: cover;">지뢰찾기</a>
      <a class="box" href="/game/bullsNcows">IMG</a>
      <a class="box">IMG</a>
      <a class="box">IMG</a>
      <a class="box">IMG</a>
      <a class="box">IMG</a>
      <a class="box">IMG</a>
      <a class="box">IMG</a>
      <a class="box">IMG</a>
    </div>
    <div id="cont_more">VIEW MORE</div>
  </div>