@charset "UTF-8";

* {font-family: "regular";}
body {background-color: rgb(235, 235, 235);}
#header {border-bottom: 1px solid #000;}
#content {}
#footer {height: 200px; border-top: 1px solid  #d1d1d1;
margin-top: 100px;}
.container {
  width: 1200px;margin: 0 auto;
}
.button {
  position: relative; display: inline-block;
}
.button input {width: 20px; height: 23px;}
.button i {
  position: absolute; top: 5px;left: 4px; pointer-events: none;
}
/* 공통요소 작업 */








/* 헤더 탑 작업 */
#header .container {padding-top: 20px;}
#top {height: 25px;}
#top .left {width: 50%; float: left; font-weight: bold;}
#top .left a {float: left; padding: 0 13px;}
#top .left a.last {
  margin-right: 10px;
  border-left: 1px solid #999;
}

#top .left .search {float: left;}
#top .left .search form {position: relative;}
#top .left .search .edit {top: 0;left: 0; position: absolute;}
#top .left .search .button {
  position: absolute; left: 145px; top: 0;
}

#top .right {
  width: 50%; float: left; text-align: right;
}
#top .right a {padding: 0 8px;border-right: 1px solid #999;}
#top .right a:last-child {border-right: 0; margin-right: 50px;}
#top .right a.active {
  font-weight: bold; color: rgb(173, 49, 49);
}
/* //헤더 탑 작업 */

/* 헤더 내비 작업 */
#nav {height: 55px; position: relative;}
#nav h3 {
  position: absolute; top: -5px; right: 0;
  font-size: 40px; font-weight: bold; padding: 0 10px;
}
#nav ul li {font-size: 20px; font-weight: bold; float: left;  padding: 10px 15px;}
/* //헤더 내비 작업 */











/* 컨텐츠 메인 비주얼 작업 */
#visual {height: 500px;}
#visual .bgimg {
  background: url(img/main_visual_1.jpg) top;
  background-size: cover; height: 100%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #222;
}
/* //컨텐츠 메인 비주얼 작업 */

/* 컨텐츠 메인 작업 */
#main {height: 1000px;}
/* 컨텐츠 메인 업데이트 게시판 작업 */
#main .update {height: 300px; overflow: hidden; border-bottom: 2px dashed #777;}
#main .update div {float: left; height: 223px;}
#main .update h3 {
  margin-top: 30px; padding: 5px 0;
  color: rgb(55, 82, 99); font-size: 25px; font-weight: bold;
}
/* 컨텐츠 메인 업데이트 죄측 게시판 */
#main .update .left {width: 400px; border-top: 1px solid #333;}
#main .update .left ul li {font-size: 15px;}
#main .update .left ul li a {
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
  float: left; width: 70%; padding: 3px 0;
}
#main .update .left ul li:nth-child(1) a {font-weight: bold;}
#main .update .left ul li span {float: right;}

/* 컨텐츠 메인 업데이트 우측 게시판 */
#main .update .main_cont_up {width: 300px;margin-left: 100px;}
#main .update .main_cont_up .top {width: 100%; height: 50%;}
#main .update .main_cont_up .bottom {width: 100%; height: 50%;}
#main .update .top {border-bottom: 1px solid #222;}
#main .update h4 {font-size: 20px; font-weight: bold; color: rgb(42, 78, 71);}
#main .update .center p {font-size: 40px; font-weight: bold; margin-left: 80px; padding: 10px 0;}
#main .update .center .bottom img {height: 42%;}
#main .update .center .bottom a {font-size: 18px; font-weight: bold; color: rgb(97, 90, 223)}
#main .update .right .top img {margin-left: 80px; width: 60%; height: 65%;}
#main .update .right .bottom li {
  float: left; display: inline-block; margin-right: 10px;
  width: 30%; height: 70px; border: 1px solid #888; background-color: #fff;
}
#main .update .right .bottom li:last-child {margin-right: 0;}
/* //컨텐츠 메인 업데이트 게시판 작업 */

/* 컨텐츠 메인 버전 게시판 작업 */
#main .version {height: 400px;}
.version .col {float: left; height: 100%;}
.version .col.left {width: 300px;}
.version .col.left h3 {font-size: 20px; font-weight: bold; color: rgb(42, 78, 71); padding: 5px 0;}
.version .col.left ul {margin-left: 80px; margin-top: 10px;}
.version .col.left ul li {
  margin-top: 5px; font-size: 20px; position: relative; font-weight: bold;
}
.version .col.left ul li::before {
  content: ''; display: inline-block; width: 0; height: 0;
  border-top: 4px solid transparent; border-bottom: 4px solid transparent;
  border-left: 6px solid #000; position: absolute; top: 20px; left: 110px;
}
.version .col.left ul li a {
  display: inline-block;
  width: 100px; text-align: center; padding: 5px 10px;
  border-bottom: 3px solid #333; border-top: 3px solid #333;
}
.version .col.left ul li a:hover {background-color: rgb(156, 64, 29); color: rgb(191, 208, 219);}
.version .col.left ul li a.active {background-color: rgb(156, 64, 29); color: rgb(191, 208, 219);}
/* //컨텐츠 메인 버전 좌측 게시판 작업 */
.version .col.center {width: 400px; position: relative;}
.version .col.center img {border: 5px solid #000; border-radius: 5%;
  width: 80%; height: 80%; position: absolute; top: 40px; left: 40px;
  background-color: #fff; transition: all 0.5s ease; opacity: 0;
}
.version .col.center img.active {opacity: 1;}
/* //컨텐츠 메인 버전 중앙 게시판 작업 */
.version .col.right {width: 500px; height: 100%; position: relative;}
.version .col.right .list {display: none; }
.version .col.right .list.active {display: block;
transition: all 0.8s ease;}
.version .col.right .list h3 {
  font-size: 20px; font-weight: bold; color: rgb(42, 78, 71);
  padding: 5px 0; margin-bottom: 20px;
  border-bottom: 1px solid #333; margin-top: 80px;
}
.version .col.right .list .cont {font-size: 15px; padding: 15px;}
.version .col.right .list a {
  display: inline-block; background-color: rgb(78, 147, 210);
  color: #fff; padding: 10px 20px; font-size: 20px; border-radius: 5%;
  position: absolute; bottom: 25%; left: 40%; border: 1px solid #222;
}
.version .col.right .list a:hover {
  background-color: rgb(50, 98, 142);
}
/* //컨텐츠 메인 버전 게시판 작업 */

/* 컨텐츠 메인 예제 게시판 작업 */
#main .example {height: 300px;}
#main .example h3 {
  font-size: 20px; font-weight: bold; color: rgb(42, 78, 71);
  padding: 5px 0; border-top: 2px dashed #777;
}
#main .example .col {width: 30%; float: left; margin-left: 40px; margin-top: 5px;}
#main .example .col h4 {font-size: 18px; font-weight: bold;}
#main .example .col img {
  width: 250px; height: 150px; overflow: hidden; background-color: #fff;
  border: 3px solid #222; border-radius: 10%;
}
#main .example .col p {font-size: 15px; width: 80%;}
#main .example .col a:hover {color: rgb(179, 29, 29);}
#main .example .col a:hover h4 {color: rgb(179, 29, 29);}
/* //컨텐츠 메인 작업 */










/* 푸터 작업 */
/* 푸터 링크 부분 작업 */
#link {height: 100px;}
#link ul li:last-child {border-right: 0; }
#link ul li a {
  display: block; float: left; height: 100px; width: 298.75px;
  text-align: center; border-right: 1px solid #d1d1d1;
}
#link ul li a.last {border-right: 0;}
#link ul li a p {font-size: 17px;}
#link ul li a i {font-size: 50px; padding: 10px 5px;
color: rgb(101, 101, 101);}
/* //푸터 링크 부분 작업 */

/* 푸터 저작권 부분 작업 */
#rights {height: 100px;position: relative;}
#rights h3 {font-size: 20px; color: rgb(129, 129, 129); font-weight: bold;}
#rights ul li {
  display: block; float: left; padding: 0 9px;
  margin-top: 10px; border-right: 1px solid #999;
}
#rights ul li:first-child {padding-left: 0;}
#rights ul li:last-child {border-right: 0;}
#rights ul li a {font-size: 13px;}
#rights p.address {position: absolute; bottom: 15px; left: 0;}
#rights p.rights {position: absolute; bottom: 15px; right: 0;}
/* //푸터 저작권 부분 작업 */










/* 공통 게시판 작업 */
/* #Notice_content img {width: auto; height: auto;} */
#Notice_content h1 {
  font-size: 40px; font-weight: bold; margin-top: 50px;
  border-bottom: 1px solid #222; margin-bottom: 30px;
}
#Notice_content p, #Notice_content strong, #Notice_content ul, #Notice_content ul li,
#Notice_content a, #Notice_content span, #Notice_content em,
#Notice_content h2, #Notice_content h3, #Notice_content h4, #Notice_content h5, #Notice_content h6 {
  font-size: 20px; font-family: "Sunflower"; padding: 5px 2px;
   color: rgb(36, 36, 36);
}

#Notice_content a {color: rgb(41, 72, 184);}
#Notice_content a:hover {text-decoration: underline;}
#Notice_content h2 {color: #FE2E2E; font-weight: bold;}
#Notice_content h3 {color: #0E469A; font-weight: bold;}
#Notice_content h4 {color: #004620; font-weight: bold;}
#Notice_content h5 {color: #30004A; font-weight: bold;}
#Notice_content h6 {color: #BA8181; font-weight: bold;}










@media(max-width:1200px){

}
