<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    <h1>MessageSource Ajax Test Home</h1>
    <div class="btnList">
        <button id="welcome">WELCOME</button>
    </div>

    <script src="/assets/js/jquery-2.1.4.min.js"></script>
    <script src="/assets/js/ajaxTest/messageAjaxHome.js"></script>
</body>
</html>