<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원가입 창 입니다.</h1>
    <h3 class="messages"><%= message%></h3>
    <form action="/join" method="post">
        email : <input type="text" name="email" placeholder="email"> <br>
        password : <input type="text" name="password" placeholder="pwd"> <br>
        <input type="submit" value="submit">
    </form>
    
</body>
</html>