<div class="my_record">
    <h3>나의 기록</h3>
    <div class="record_box">
        <div class="text">쉬움</div>
        <div class="cont">없음</div>
    </div>
    <div class="record_box">
        <div class="text">보통</div>
        <div class="cont">없음</div>
    </div>
    <div class="record_box">
        <div class="text">어려움</div>
        <div class="cont">없음</div>
    </div>
</div>