<div class="game_info_box">
    <div class="game_channel">
        <div class="game_make_room">방만들기</div>
        <div class="game_part_room">참가하기</div>
    </div>
    <div class="game_play_setting">
        <div class="game_setting_button">
            <div class="game_start">게임시작</div>
            <div class="game_info_start">게임설명</div>
        </div>
        <div class="game_setting_check">
            <div class="game_duplicated">중복허용</div>
            <div class="game_fasted">빠른게임</div>
        </div>
    </div>
</div>
