<div class="game_info_box">
    <div class="game_level">
        <button class="easy">쉬움</button>
        <button class="normal">보통</button>
        <button class="hard">어려움</button>
    </div>
    
    <div class="game_info">
        <div class="mine_count">
            <div class="text">지뢰</div>
            <div class="cont">0</div>
        </div>
        <div class="play_time">
            <div class="text">시간</div>
            <div class="cont">00:00</div>
        </div>
    </div>
</div>
