@charset "UTF-8";
@font-face {
    font-family: 'Wemakeprice-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
  --docText: #b6d4d0;
}
* {font-family: 'Wemakeprice-Bold';}
body {background: url(../img/main_bg.jpg); center center cover; z-index: -2; position: relative;}
body::after {
  content: ''; position: absolute; top: 0; left: 0;  width: 100%; height: 100%;
  z-index: -1; background-color: rgb(255 255 255 / 80%); transition: background-color .3s;
}
body.doc::after {background-color: rgba(34, 34, 34, 0.9);}

/* 메인 */
main {}

/* 헤더 */
header {position: fixed; top: 0; left: 0; width: 100%; z-index: 20; border-bottom: 1px solid #000;}
.doc header {border-bottom: 1px solid var(--docText);}
header #nav {width: 100%; z-index: 40; position: relative;}
#nav .title {font-size: 30px; padding: 30px 50px; display: inline-block; transition: all .3s;}
.doc #nav .title {color: var(--docText);}
#nav .menuBtn {
  display: inline-block; float: right; margin: 30px 50px; cursor: pointer; position: relative;
  width: 25px; height: 25px; transition: all .3s;
}
#nav .menuBtn .bar {
  background-color: #000; width: 25px; height: 3px; position: absolute; top: 50%; left: 0;
  transition: background-color .3s, transform .3s;
}
.doc #nav .menuBtn .bar {background-color: var(--docText);}
#nav .menuBtn .bar:nth-child(1) {transform: translateY(-11px);}
#nav .menuBtn .bar:nth-child(2) {transform: translateY(-50%);}
#nav .menuBtn .bar:nth-child(3) {transform: translateY(8px);}
#nav .menuBtn.active .bar {background-color: #fff;}
#nav .menuBtn.active .bar:nth-child(1) {transform: translateY(0) rotate(45deg);}
#nav .menuBtn.active .bar:nth-child(2) {transform: scale(0);}
#nav .menuBtn.active .bar:nth-child(3) {transform: translateY(0) rotate(-45deg);}
/* //헤더 */





/* 사이드 메뉴 */
header #side {
  position: fixed; top: 0; right: -50%; width: 50%; height: 100%;
  background-color: #1b1c36; z-index: 10; transition: right .5s; z-index: 30;
}
#side.active {right: 0;}
#side .cont-wrap {position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
#side .cont {
  color: #fff; font-size: 30px; cursor: pointer; margin-bottom: 15px;
  margin-left: 30px; transition: color .3s;
}
#side .cont:hover {color: #aeabec;}
/* // 사이드 메뉴 */





/* 콘텐츠 */
article {height: 100vh; width: 100vw; box-sizing: border-box;}
#contents {
  height: 70%; width: 1200px; margin: 0 auto; box-sizing: border-box;
  position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%);
  transition: all .3s; opacity: 1; pointer-events: auto;
}
.doc #contents {opacity: 0; pointer-events: none;}
#contents .step {
  display: inline-block; margin-right: 12%; width: 15%;
  position: relative; height: 100%;
}
#contents .step:last-child {margin-right: 0;}
#contents .step .text {
  transform: translate(-50%, 00); display: inline-block;
  position: absolute; left: 50%; opacity: 0;
  animation: .5s ani_Text forwards; animation-delay: 2.4s;
  font-size: 20px; cursor: pointer;
}
#contents .step:nth-child(1) .text {top: 65%;}
#contents .step:nth-child(2) .text {top: 45%;}
#contents .step:nth-child(3) .text {top: 25%;}
#contents .step:nth-child(4) .text {top: 5%;}
#contents .step .bar {
  position: absolute; bottom: 0; left: 0; cursor: pointer;
  width: 100%; height: 10%; background-color: #8fe88a; box-sizing: border-box;
  border: 2px solid #000; transition: background-color .3s;
}
#contents .step:nth-child(1) .bar {animation: .6s ani1 forwards;}
#contents .step:nth-child(2) .bar {animation: .6s ani2 forwards;animation-delay: .6s;}
#contents .step:nth-child(3) .bar {animation: .6s ani3 forwards;animation-delay: 1.2s;}
#contents .step:nth-child(4) .bar {animation: .6s ani4 forwards;animation-delay: 1.8s;}
#contents .step.hover .text {}
#contents .step.hover .bar {background-color: #6cb9da;}
@keyframes ani1 {
    from { height: 10%; }
    to   { height: 30%; }
}
@keyframes ani2 {
    from { height: 10%; }
    to   { height: 50%; }
}
@keyframes ani3 {
    from { height: 10%; }
    to   { height: 70%; }
}
@keyframes ani4 {
    from { height: 10%; }
    to   { height: 90%; }
}
@keyframes ani_Text {
  from { opacity: 0; transform: translate(-50%, 10px);}
  to   { opacity: 1; transform: translate(-50%, -10px); }
}
/* //콘텐츠 */





/* 페이지 */
#page {
  width: 80%; height: 80%; position: absolute;
  top: 140px; left: 50%; background-color: #ffffff; transform: translateX(-50%);
  border: 2px solid #000; border-radius: 10px; opacity: 0; pointer-events: none;
  transition: opacity .3s; overflow: hidden;
}
#page #exit {
  position: absolute; top: 30px; right: 30px; width: 25px; height: 25px;
  cursor: pointer; z-index: 10;
}
#page #exit .bar {
  width: 25px; height: 3px; background-color: #9e9e9e; display: inline-block;
  position: absolute; top: 50%; right: 0; pointer-events: none; transition: background-color .3s;
}
#page #exit:hover .bar {background-color: var(--docText);}
#page #exit .bar:nth-child(1) {transform:translateY(-50%) rotate(45deg);}
#page #exit .bar:nth-child(2) {transform:translateY(-50%) rotate(-45deg);}
#page #prev {font-size: 50px; position: absolute; left: 30px; top: 50%; cursor: pointer; z-index: 10;}
#page #next {font-size: 50px; position: absolute; right: 30px; top: 50%; cursor: pointer; z-index: 10;}
#page #count {
  position: absolute; font-size: 40px; top: 20px; left: 20px;
  width: 50px; height: 50px; border: 2px solid #000; border-radius: 10px;
  text-align: center; background-color: #fff; z-index: 10;
}
.doc #page {opacity: 1; pointer-events: auto;}
#page .page_cont {
  width: 100%; height: 100%; position: absolute;  top: 0; left: 50%;
  transform: translateX(-50%); pointer-events: none; opacity: 0;
  transition: left .5s;
}
#page .page_cont.active {opacity: 1;}
#page .page_cont .page_num {
  width: 100%; height: 100%; box-sizing: border-box; padding: 40px;
  pointer-events: none; position: absolute; top: 0; left: 0;
}
#page .page_cont img {
  max-width: 700px; max-height: 400px; margin: 0 auto;
  border: 2px solid #000; border-radius: 10px; display: block;
}
#page .page_cont .text {
  font-size: 20px; text-align: center; padding: 30px; height: 300px; display: table-cell;
  vertical-align: middle; width: 100vw;
}

/* //페이지 */


/* 반응형 작업 */
@media (max-width: 1280px) {
  #contents {width: 720px;}
}
@media (max-width: 800px) {
  #contents {width: 420px;}
  #nav .title {font-size: 25px; padding: 30px 30px;}
  #nav .menuBtn {margin: 30px 30px;}
}
