<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    <h1>Ajax Home</h1>
    <form action="">
        boardNo : <input type="text" name="boardNo" value="" id="boardNo" /><br/>
        title : <input type="text" name="title" value="" id="title" /><br/>
        content : <input type="text" name="content" value="" id="content" /><br/>
        writer : <input type="text" name="writer" value="" id="writer" /><br/>
    </form>

    <div class="btnList">
        <button id="listBtn">LIST</button>
        <button id="readBtn">READ</button>
        <button id="registerBtn">REGISTER</button>
        <button id="deleteBtn">DELETE</button>
        <button id="modifyBtn">MODIFY</button>
    </div>
    <div class="btnList">
        <button id="listBtnGet">LIST</button>
        <button id="registerBtnGet">REGISTER</button>
        <button id="modifyBtnGet">MODIFY</button>
    </div>
    <div class="btnList">
        <button id="member_regitser01">regist void</button>
        <button id="member_regitser02">regist String</button>
        <button id="member_regitser03">regist Beans</button>
        <button id="member_regitser04">regist List - Collections</button>
        <button id="member_regitser05">regist Map - Collections</button>
        <button id="member_regitser06">regist ResponseEntity - Void</button>
        <button id="member_regitser07">regist ResponseEntity - Beans</button>
        <button id="member_regitser08">regist ResponseEntity - List</button>
        <button id="member_regitser09">regist ResponseEntity - Map</button>
        <button id="member_regitser10">regist ResponseEntity - byte[]</button>
    </div>

    <script src="/assets/js/jquery-2.1.4.min.js"></script>
    <script src="/assets/js/ajaxTest/ajaxHome.js"></script>
</body>
</html>