<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    <h1>Ajax Home</h1>
    <form action="">
        userId : <input type="text" name="userId" value="" id="userId" /><br/>
        userpassword : <input type="text" name="userpassword" value="" id="userpassword" /><br/>
        username : <input type="text" name="username" value="" id="username" /><br/>
        email : <input type="text" name="email" value="" id="email" /><br/>
        <input type="radio" name="gender" id="gender1" value="male"><label for="gender1">male</label>
        <input type="radio" name="gender" id="gender2" value="female"><label for="gender2">female</label>
        <input type="radio" name="gender" id="gender3" value="other"><label for="gender3">other</label>
    </form>

    <div class="btnList">
        <button id="registerBtn">register</button>
        <button id="memberBtn">member</button>
    </div>

    <script src="/assets/js/jquery-2.1.4.min.js"></script>
    <script src="/assets/js/ajaxTest/validajaxHome.js"></script>
</body>
</html>